{% trans_default_domain 'sfs_image' %}
{% extends '@SfsImage/admin_layout.html.twig' %}
{% block title %}{{ 'admin_images.list.meta.title'|trans }}{% endblock %}

{% block content %}

    <div class="d-flex align-items-center justify-content-between mb-4">
        <h1 class="h3">Images</h1>

        {% if is_granted('ROLE_SFS_IMAGE_ADMIN_IMAGES_CREATE') and imageTypes|length %}
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Create image
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                    {% for key,type in imageTypes %}
                        <a href="{{ url('sfs_image_admin_images_create', {'type':key}) }}" class="dropdown-item">{{ type.name }}</a>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>

    {{ form_start(filterForm) }}
    {{ form_widget(filterForm) }}
    {{ form_rest(filterForm) }}
    {{ form_end(filterForm) }}

    {% include '@SfsImage/admin/image/list-page.html.twig' %}

{#    {% if entities.pages|default(false) %}#}
{#        {% if entities.prevPage %}#}
{#            <a href="{{ url('sfs_image_admin_images_list', app.request.query.all|merge({ page: entities.prevPage })) }}" title="Prev page"><span class="mdi mdi-24px mdi-chevron-left"></span></a>#}
{#        {% endif %}#}
{#    #}
{#        {% if entities.nextPage %}#}
{#            <a class="float-right" href="{{ url('sfs_image_admin_images_list', app.request.query.all|merge({ page: entities.nextPage })) }}" title="Next page"><span class="mdi mdi-24px mdi-chevron-right"></span></a>#}
{#        {% endif %}#}
{#    {% endif %}#}
{% endblock content %}