{% trans_default_domain 'sfs_image_admin' %}
{% extends '@SfsImage/admin_layout.html.twig' %}
{% block title %}{{ 'admin_images.read.meta.title'|trans({'%name%': image.name }) }}{% endblock %}

{% block breadcrums_content %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ url('sfs_image_admin_images_list') }}">{{ 'admin_images.list.breadcrumb'|trans }}</a></li>
    <li class="breadcrumb-item active" aria-current="content">{{ 'admin_images.read.breadcrumb'|trans({'%name%': image.name }) }}</li>
{% endblock breadcrums_content %}


{%- macro bytesToSize(bytes) -%}
    {% set kilobyte = 1024 %}
    {% set megabyte = kilobyte * 1024 %}
    {% set gigabyte = megabyte * 1024 %}
    {% set terabyte = gigabyte * 1024 %}

    {% if bytes < kilobyte %}
        {{ bytes ~ ' B' }}
    {% elseif bytes < megabyte %}
        {{ (bytes / kilobyte)|number_format(2, '.') ~ ' KiB' }}
    {% elseif bytes < gigabyte %}
        {{ (bytes / megabyte)|number_format(2, '.') ~ ' MiB' }}
    {% elseif bytes < terabyte %}
        {{ (bytes / gigabyte)|number_format(2, '.') ~ ' GiB' }}
    {% else %}
        {{ (bytes / terabyte)|number_format(2, '.') ~ ' TiB' }}
    {% endif %}
{%- endmacro -%}


{% block content %}
    <h1 class="h3 mb-4">{{ 'admin_images.read.title'|trans({'%name%': image.name }) }}</h1>

    {% if image.description %}
        <p>{{ image.description|nl2br }}</p>
    {% endif %}

    {% set checkVersions = image.checkVersions(type_config) %}
    {% for version in checkVersions.new %}
        <div class="alert alert-warning" role="alert">
            Missing <strong>{{ version }}</strong> in this image, seems to be a <strong>new version</strong> in config. You need to run image migrations command.
        </div>
    {% endfor %}
    {% for version in checkVersions.delete %}
        <div class="alert alert-warning" role="alert">
            Image <strong>{{ version }}</strong> version has been <strong>deleted</strong> in config. You need to run image migrations command to cleanup images.
        </div>
    {% endfor %}
    {% for version,changedOptions in checkVersions.changed %}
        <div class="alert alert-warning" role="alert">
            Image <strong>{{ version }}</strong> version has been <strong>changed</strong> in config ({{ changedOptions|map((changedOption) => changedOption.string)|join(', ') }}). You need to run image migrations command to cleanup images.
        </div>
    {% endfor %}

    <div class="container-fluid bg-white p-4">
        <div class="row">
            <div class="col">
                <h4>Original</h4>
                <div>
                    {{ image|sfs_image_render_image('_original', {'class':'img-thumbnail', 'alt': 'Original image', 'title': 'Original image'}) }}
                </div>
                {{ image.version('_original').width }}x{{ image.version('_original').height }}
                {{ image.version('_original').fileMimeType }}
                {{ _self.bytesToSize(image.version('_original').fileSize) }}
            </div>
        </div>

        {% for version in image.versions|filter((version) => version.version not in ['_original'])|sort((a, b) => (a.width+a.height) <=> (b.width+b.height))|reverse %}
            <div class="row mt-5">
                <div class="col">
                    <h4>{{ version.version }}</h4>
                    <div>
                        {{ image|sfs_image_render_image(version.version, {'class':'img-'~version.version}) }}
                    </div>
                    {{ version.width }}x{{ version.height }}
                    {{ version.fileMimeType }}
                    {{ _self.bytesToSize(version.fileSize) }}
                    {% for option,value in version.options %}
                        {{ option }}: {{ value }}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>

    {% if type_config.pictures|length %}
        <div class="container p-4">
            <div class="row">
                <div class="col">
                    <h6>HTML</h6>
                    <pre><code>{{ image|sfs_image_render_picture|replace({'>':">\n"})|e('html') }}</code></pre>
                </div>
            </div>
        </div>
    {% endif %}


{% endblock content %}
